h1,
h2 {
  font-family: "Century Gothic";
  font-size: medium;
}

.color_box {
  border: 1px solid;
  height: 12rem;
  width: 12rem;
  background-color: black;
  border-radius: 10%;
}

.color_select,
.color_codes {
  display: flex;
  align-items: center;
}

.hex_code,
.rgb_code,
.css_code,
.hsl_code {
  text-align: center;
  border: 1px solid;
  width: 7rem;
  margin: 1rem;
}

#color_value {
  border: 1px solid black;
  padding: 0;
  margin: 0.5rem;
}
